* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
<<<<<<< HEAD
    font-size: .16rem;
}

body,
html {
    width: 100%;
    height: 100%;
    font-size: 100px;
=======
    font-size: .15rem;
}

html,
body {
    font-size: 100px;
    width: 100%;
    height: 100%;
>>>>>>> cb6c828e0321b4ba7a772bdb8c379c40004849fb
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
<<<<<<< HEAD
    flex-direction: column;
}

section {
    flex: 1;
    overflow: auto;
}

footer {
    width: 100%;
    height: .5rem;
    border-top: 1px solid #eee;
}

footer ul {
    width: 100%;
    height: .5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #8E8D8D;
}

footer ul li i {
    margin-bottom: .02rem;
=======
    justify-content: space-between;
    flex-direction: column;
}

.section-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.container-left {
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    padding: 0 .15rem;
    flex-wrap: wrap;
}

.section-scroll-left {
    flex: 2;
}

.container dl {
    width: 33%;
    height: auto;
}

.container-left li {
    color: #666;
    margin-top: .2rem;
    text-align: center;
}

.section-scroll-right {
    flex: 8;
}

.container dl dt img {
    margin-left: .1rem;
}

.container dl dd {
    color: #666;
    font-size: .12rem;
}

.wrap-left {
    width: 100%;
    height: 3.3rem;
    overflow: hidden;
}

.wrapper-right {
    width: 100;
    height: 3.1rem;
    overflow: hidden;
}

section {
    flex: 1;
>>>>>>> cb6c828e0321b4ba7a772bdb8c379c40004849fb
}