* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    font-size: .16rem;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 100px;
}

.head {
    display: flex;
    width: 100%;
    height: .4rem;
}

.head div:nth-child(1) {
    flex: 1;
    text-align: center;
    line-height: .4rem;
}

.head div:nth-child(2) {
    flex: 7;
    line-height: .4rem;
}

.head div:nth-child(3) {
    display: flex;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 25px;
    flex: 2;
    text-align: center;
    line-height: .2.5rem;
    margin-top: 8px;
    margin-right: 5px;
}

.head div:nth-child(3) i {
    flex: 1;
    line-height: .25rem;
}

.inp {
    width: 85%;
    height: .25rem;
    margin-left: 10px;
    background: #eee;
    border: none;
}